{
  "semi": true,
  "trailingComma": "all",
  "quotes": [
    "error",
    "double",
    {
      "allowTemplateLiterals": true
    }
  ],
  "printWidth": 80,
  "tabWidth": 4,
  "endOfLine": "auto",
  "arrowParens": "avoid"
}
